/**
* Custom CSS
*/


/* fontes */

@font-face {
    src: url(./fonts/Rajdhani-Bold.ttf);
    font-family: r-bold;
}

@font-face {
    src: url(./fonts/Rajdhani-SemiBold.ttf);
    font-family: r-semib;
}

@font-face {
    src: url(./fonts/Rajdhani-Medium.ttf);
    font-family: r-medium;
}

@font-face {
    src: url(./fonts/Rajdhani-Regular.ttf);
    font-family: r-regular;
}

@font-face {
    src: url(./fonts/Rajdhani-Light.ttf);
    font-family: r-light;
}

body * {
    transition: width 0.3s;
    font-family: r-medium;
}

.ct-bt,
.font-semib {
    font-family: r-semib;
}

.flag-yellow h2 span,
.flag-black h2 span,
.sect-advantages h2 span,
.font-bold {
    font-family: r-bold;
}

.font-normal {
    font-family: r-regular;
}

.font-light {
    font-family: r-light;
}

.ct-bt {
    font-size: 0.85rem;
}

.font-250 {
    font-size: 2.50rem;
}

.font-285 {
    font-size: 2.85rem;
}

.flag-yellow h2 span,
.flag-black h2 span,
.sect-advantages h2 span,
.font-300 {
    font-size: 3rem;
}

.left-line {
    text-align: right;
}

.right-line {
    text-align: left;
}

.text-white {
    color: white;
}


/* classes reutilizaveis */

.flex-h-centered,
.flex-h-spaced,
.flex-v-centered,
.flex-v-spaced {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.flex-h-centered,
.flex-h-spaced {
    flex-flow: row;
}

.flex-v-centered,
.flex-v-spaced {
    flex-flow: column
}

.flex-h-centered,
.flex-v-centered {
    justify-content: center;
}

.flex-h-spaced,
.flex-v-spaced {
    justify-content: space-evenly;
}

.sect-pre-service::before,
.full-size {
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
}

.auto-width {
    width: auto;
}

.full-height {
    /* height: 100% !important; */
    height: inherit !important;
}

.ct-bt {
    transition: box-shadow 0.35s;
    padding: 5px 12px;
    border-radius: 4px;
    width: 185px;
    display: block;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer !important;
}

.ct-icon {
    max-width: 1750px;
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

.ct-bt,
.soft-shadow {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
}

.ct-bt:hover,
.ct-bt:active,
.soft-shadow:hover,
.soft-shadow:active {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.ct-bt,
.c-pointer {
    cursor: pointer !important;
}

.flag-yellow,
.flag-black {
    position: relative;
    padding-left: 20px;
}

.flag-yellow::after,
.flag-black::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
}

.flag-yellow::after {
    background-color: #f3e429;
}

.flag-black::after {
    background-color: black;
}


/* fundos e cores */

.bk-yellow,
.bt.bk-yellow:hover {
    background-color: #f3e429;
    color: black !important;
}

.bk-black,
.bt.bk-black:hover {
    background-color: black;
    color: #f3e429 !important;
}

.bk-white,
.bt.bk-white:hover{
    background-color: white;
    color: black !important;
}

.sect-advantages .card,
.sect-advantages .card .card-body,
.modal-content {
    background: none;
}

.modal-header,
.modal-body,
.modal-footer,
.modal-content {
    border: none;
    border-radius: 0px;
}

.modal-header,
.modal-body,
.modal-footer {
    border-radius: 12px;
    padding: 2.25rem 1rem;
}

.modal-body,
.modal-footer {
    margin-top: -12px;
}

.modal-header,
.modal-footer {
    background-color: #faf8f8;
}

.modal-body {
    background-color: #f3e429;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
}

.modal-header {
    z-index: 2;
    animation: modalHeader 1 0.5s ease-out !important;
    /* animation-delay: 0.15s !important; */
    transform: scale(0.95) !important;
}

.modal-body{
    z-index: 3;
}

.modal-footer{
    z-index: 1;
    animation: modalFooter 1 0.5s ease-out !important;
    /* animation-delay: 0.15s !important; */
    transform: scale(0.9) !important;
}

.modal-title {
    display: block;
    margin: auto;
}

.default-appaerance {
    -webkit-appearance: unset;
}

.bk-gradient-yellow-t {
    background-image: linear-gradient(155deg, white 57.5%, rgb(243, 228, 41) 42.5%);
}

.bk-gradient-yellow-b {
    background-image: linear-gradient(155deg, rgb(243, 228, 41) 64.5%, #faf8f8 42.5%);
}

.bk-gradient-gray-t {
    background-image: linear-gradient(155deg, white 42.5%, #faf8f8 64.5%);
}

.sect-service {
    background-image: linear-gradient(155deg, white 51.5%, #faf8f8 50.5%);
}

.sect-ctto::before {
    background-image: linear-gradient(155deg, #faf8f8 23.2%, transparent 21.5%);
}

.sect-pre-service::before {
    background-image: linear-gradient(to right, #f3e429 36%, rgba(243, 228, 41, 0.25) 75%);
}

.sect-advantages::before {
    background-image: linear-gradient(155deg, #faf8f8 6.5%, white 4.5%);
}

.sect-advantages::after {
    background-image: linear-gradient(155deg, white 64.5%, #faf8f8 42.5%);
}

.txt-yellow {
    color: #f3e429
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #f3e429
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    filter: invert(0.65);
}


/* bordas e espaços */

.ct-bt,
.card,
.no-borders {
    border: none;
}

.padding-tb-30px {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-t-30px {
    padding-top: 30px;
}

.padding-b-75px {
    padding-bottom: 75px;
}

h2,
.sect-advantages .card .card-body,
.no-padding {
    padding: 0 !important;
}

.margin-t-15px {
    margin-top: 15px;
}

.sect-advantages .card .card-title,
.margin-t-30px {
    margin-top: 30px;
}

.margin-t-45px {
    margin-top: 45px;
}

.margin-t-75px {
    margin-top: 75px;
}

.margin-b-45px {
    margin-bottom: 45px;
}

.margin-t-n-105px {
    margin-top: -105px;
}

h2,
.no-margin {
    margin: 0 !important;
}


/* posicoes */

.sect-pre-service::before {
    top: 0;
}

.sect-pre-service::before {
    left: 0;
}

.flag-yellow h2 span,
.flag-black h2 span,
.sect-advantages h2 span {
    display: block;
}


/* imgs */

.sect-pre-service {
    background-size: cover;
}

.sect-pre-service {
    background-position: center;
}

.sect-pre-service {
    background-repeat: no-repeat;
}

.sect-pre-service {
    background-image: url(./imgs/pre-service-cover.png);
}

.sect-footer img {
    margin-top: -340px;
}


/* padroes globais */

.triangle-effect {
    position: relative;
    width: 100%;
    height: 65px;
    display: block;
}

.triangle-effect::before,
.triangle-effect::after {
    transition: width 0.3s, background 0.3s;
    content: "";
    position: absolute;
    height: 100%;
    bottom: 0;
}

.triangle-effect::before {
    left: 0;
    width: 37.5%;
    background-image: linear-gradient(70deg, white 93%, transparent 4%);
}

.triangle-effect::after {
    right: 0;
    width: 63.5%;
    background-image: linear-gradient(-68deg, white 96%, transparent 4%);
}

.right-separator {
    position: relative;
    padding: 15px 25px;
    height: 100%;
    min-height: 75px;
}

.right-separator::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    left: 50%;
    top: 0;
}

.sect-advantages,
.sect-ctto,
.sect-pre-service {
    position: relative;
}

.sect-advantages::before,
.sect-advantages::after,
.sect-ctto::before,
.sect-pre-service::before {
    position: absolute;
}

.sect-pre-service::before {
    content: "";
}

.sect-pre-service::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.sect-ctto::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.sect-advantages::before,
.sect-advantages::after {
    width: 100%;
    min-height: 75%;
    content: "";
    z-index: -1;
}

.sect-advantages::before {
    top: 0;
    left: 0;
}

.sect-advantages::after {
    bottom: 0;
    right: 0;
}


/* sobscricão de css */

.sect-advantages .card .card-text {
    font-size: 0.85rem;
    font-family: r-semib;
}

.sect-pre-service .pre-content {
    min-height: 450px;
}

.time-line .divisory .circle {
    background-color: #f3e429;
    padding: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-bottom: 19.5px;
}

.time-line .divisory .line {
    background-color: black;
    width: 6px;
    min-height: 185px;
    border-radius: 6px;
    margin-bottom: 19.5px;
}

.time-line .element {
    margin-bottom: 85px;
}

.time-line .no-bottom {
    margin-bottom: 0;
}

.time-line .left-line img {
    margin-left: auto;
    margin-right: initial;
}

.time-line .right-line img {
    margin-left: initial;
    margin-right: auto;
}

.ctto-form .row {
    margin-bottom: 15px;
}

.ctto-form input,
.ctto-form .fake-input,
.select-ground,
.ctto-form textarea {
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 15px 10px;
    color: black;
    border: 1px solid transparent;
}

.ctto-form input::placeholder,
.ctto-form textarea::placeholder {
    color: silver;
}

.ctto-form input:focus::placeholder,
.ctto-form textarea:focus::placeholder {
    color: white;
}

.floating-bts {
    width: 306px;
    position: absolute;
    right: 0;
    z-index: 999; 
    height: 100%;
    padding-top: 25px;
    padding-right: 35px;
}

.floating-bts .bts-containter {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.floating-bts .bts-containter .fixer {
    position: relative; 
    width: 100%; 
    height: auto; 
    top: 15px;
    /* overflow: hidden; */
}

.sect-ctto {
    z-index: 5;
    background: transparent;
}

.downCaret {
    position: absolute;
    right: 7%;
    top: 18%;
    font-size: 1.25rem;
}

.select-ground {
    position: absolute;
    display: none;
    overflow: hidden;
    width: 100%;
    background-color: white;
}

.fake-input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 100%;
}

.select-ground.active {
    display: block;
    z-index: 5;
    animation: itemShow 1 0.4s;
}

.signature svg {
    color: crimson !important;
    animation: heartBeat infinite 0.5s;
}

.cupom {
    /* border: 2px solid black; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    padding: 10px 15px;
    border-radius: 12px;
    margin: 15px 0; 
    width: auto;
    display: inline-block;
    letter-spacing: 0.8px;
    font-family: r-bold;
    background-color: white;
    color: goldenrod;
}

.ctto-form .mail-mask[data-invalid="true"],
.ctto-form .fone-mask:focus:invalid {
    border: 1px solid crimson;
    color: crimson;
    box-shadow: 0 6px 16px rgba(237, 20, 61, 0.25) !important;
}

/* quebras de pagina */

@media (max-width: 1460px) {
    .triangle-effect::before {
        width: 39.5%;
    }
    .triangle-effect::after {
        width: 62.5%;
    }
}

@media (max-width: 1410px) {
    .triangle-effect::before {
        width: 38.5%;
    }
    .triangle-effect::after {
        width: 63%;
    }
}

@media (max-width: 1410px) {
    .triangle-effect::before {
        width: 38.5%;
    }
    .triangle-effect::after {
        width: 63%;
    }
}

@media (max-width: 1370px) {
    .triangle-effect::before {
        width: 38.5%;
    }
    .triangle-effect::after {
        width: 63%;
    }
}

@media (max-width: 1320px) {
    .triangle-effect::before {
        width: 37.65%;
    }
    .triangle-effect::after {
        width: 64.95%;
    }
}

@media (max-width: 1300px) {
    .triangle-effect::before {
        width: 37.65%;
    }
    .triangle-effect::after {
        width: 64.95%;
    }
}

@media (max-width: 1200px) {
    .triangle-effect::before {
        width: 37.5%;
    }
    .triangle-effect::after {
        width: 63.75%;
    }
    .sect-footer img {
        max-width: 100% !important;
        height: auto !important;
        margin-top: -260px;
    }
}

/*
@media (min-width: 992px) {
    .triangle-effect::before {
        width: 35.5%;
    }
    .triangle-effect::after {
        width: 64.5%;
    }
}

@media (min-width: 1105px) {
    .triangle-effect::before {
        width: 38%;
    }
    .triangle-effect::after {
        width: 63.5%;
    }
}

@media (min-width: 1170px) {
    .triangle-effect::before {
        width: 39%;
    }
    .triangle-effect::after {
        width: 62.5%;
    }
}
*/

@media (max-width: 991px) {

    .footer-content {
        z-index: 2;
    }

    .sect-advantages .card {
        padding-bottom: 30px;
    }

    .sect-footer img {
        max-width: 100% !important;
        height: auto !important;
        margin-top: -195px !important;
    }

    .triangle-effect::after {
        width: 53.5%;
    }

    .triangle-effect::before {
        width: 47.85%;
    }

}

@media (max-width: 768px) {

    .triangle-effect::after {
        width: 50%;
        background-image: linear-gradient(-78deg, white 96%, transparent 4%);
    }

    .triangle-effect::before {
        width: 50%;
    }

    .certificate img {
        display: block;
        margin: 0 auto;
    }

    .certificate .custom-text {
        margin: 25px 0;
        text-align: center;
    }

    .pre-content img.margin-t-n-105px {
        margin-top: 20px;
    }

    .ctto-form button {
        width: 100%;
    }
}

/* animations */

@keyframes itemShow {
    from {opacity: 0; transform: scale(0.5) translateY(-35px);}
    to {opacity: 1; transform: scale(1) translateY(0px);}
}

@keyframes modalHeader {
    0% {transform: translateY(0%) scale(0.95)}
    5% {transform: translateY(100%) scale(0.95)}
    75% {transform: translateY(-8%) scale(0.95)}
    100% {transform: translateY(0%) scale(0.95)}
}

@keyframes modalFooter {
    0%  {transform: translateY(0%) scale(0.9)}
    5% {transform: translateY(-100%) scale(0.9)}
    75% {transform: translateY(8%) scale(0.9)}
    100% {transform: translateY(0%) scale(0.9)}
}

@keyframes heartBeat {
    0%{transform: scale(1)}
    35%{transform: scale(1.1)}
    70%{transform: scale(0.9)}
    100%{transform: scale(1)}
}